.card-container {
  display: grid;
  grid-template-areas: 'card1 card2 card3'
                       'card1 card4 card5';
  grid-template-rows: 1fr 1fr;
  grid-template-columns: min-content min-content min-content; 
  padding: 0 45px;
  align-self: center;
}


.tools-section {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 30px;
}
