$nav-height: 90px;
$nav-bg-color: $white;
$nav-shadow-color: rgba(0, 0, 0, 0.3);

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;  
  background-color: $nav-bg-color;
  height: $nav-height;
  box-shadow: 0 6px 6px $nav-shadow-color;
  padding: 25px 20px;
  top: 0;
  left: 0;
  z-index: 1;

  .logo {
    height: 100%;
  }

  .title {
    font-size: $text-big;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    .title {
      display: none;
    }
  }
}
