$tech-card-width: 200px;
$tech-card-height: calc(1.5 * #{$tech-card-width});
$tech-card-padding: 20px;
$tech-logo-size: 100px;
$tech-logo-margin: 10px;
$tech-title-margin: 10px;
$tech-release-margin: 10px;
$tech-description-margin: 15px;

.tech-card {
  height: auto;
  width: $tech-card-width;
  position: relative;
  display: inline-flex;
  padding: $tech-card-padding;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

  .tech-title {
    font-size: $text-medium;
    text-align: center;
  }
  
  .tech-release {
    font-weight: bold;
    text-align: center;
  }
  
  .tech-logo {
    width: $tech-logo-size;
    height: $tech-logo-size;
    text-align: center;
  }

  .tech-description {
    text-align: center;
  }
  
  .m-tech-logo {
    margin-bottom: $tech-logo-margin;
  }
  
  .m-tech-title {
    margin-bottom: $tech-title-margin;
  }
  
  .m-tech-release {
    margin-bottom: $tech-release-margin;
  }

  &:first-child {
    grid-area: card1;
    border-right: 2px solid $green;
  }

  @for $i from 2 through 5 {
    &:nth-child(#{$i}) {
      grid-area: card#{$i};
    }
  }
}

@media only screen and (max-width: 1024px) {
  .tech-card:first-child {
    border: none;
  }
  
  .tech-card:not(:last-child) {
    border-bottom: 2px solid $green;
  }
}
