.section-title {
  background-image: url('assets/triangle.svg');
  background-repeat: no-repeat;
  background-size: $title-decoration-width $title-decoration-height;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size: $text-big;
  height: $title-decoration-height;
  line-height: $title-decoration-height;
  padding-left: $title-decoration-width - 20px;
}
