.section-title {
  background-image: url('assets/triangle.svg');
  background-repeat: no-repeat;
  background-size: $title-decoration-width $title-decoration-height;
  display: block;
  font-size: $text-big;
  line-height: $title-decoration-height;
  padding-left: calc(#{$title-decoration-width} - 20px);
}
