$dove-gray: #6D6C6C;
$white: #FFF;
$white-alpha01: rgba(255, 255, 255, 0.1);
$white-alpha02: rgba(255, 255, 255, 0.2);
$black-alpha01: rgba(0, 0, 0, 0.1);
$black-alpha02: rgba(0, 0, 0, 0.2);
$black-alpha03: rgba(0, 0, 0, 0.3);
$spring-green-alpha01: rgba(0, 255, 149, 0.1);
$spring-green-alpha02: rgba(0, 255, 149, 0.2);
